<div class="master-container">
	<div class="container-fluid">
		<div class= "banner-b1"></div>
		<h1 class = "banner-text-1">Make your college life more affordable - Buy and Sell to other students</h1>
	</div>
</div>