.master-container
{
	height: 400px;
	background-image: url(banner-image-1.jpeg);
	background-position: 0% 25%;
	background-size: cover;
	background-repeat: no-repeat;
  	padding-top: 48px;
  	padding-bottom: 48px;
  	margin-top:-25px;
}