.img-circle
{
    height: 200px;
    width: 200px;
}

.user-default > img
{
    height: 200px;
}

#user-header
{
    margin-top: -29px;
    padding-left: 5px;
    padding-right: 5px;
}

.user-name > h1
{
    font-size: 25px;
}